HTML {
    cursor: pointer;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: white;
    cursor: default;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}
a:hover {
    color: transparent;
}


/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}    
/* Track */
::-webkit-scrollbar-track {
    background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    cursor: pointer !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}