* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #242526;
}
a:hover {
    color: gray;
}

body {
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}

h3 {
    color: #242526;
}

main {
    align-self: center;
    justify-self: center;
    height: 80vh;
}

.app-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}