* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}
main {
    width: 100%;
    margin: auto;
    z-index: 0;
}

a {
    color: #242526;
}
a:hover {
    color: gray;
}
h3 {
    color: #242526;
}

.app-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}